<h1 xmlns="http://www.w3.org/1999/html">Witaj!</h1>
<p>Tutaj tworzymy baze boisk we Wroclawiu na uzytek naszej grupy FB. Jak to dziala? </p>
<h3>1. Zapisz sie</h3>
<p>Oczywiscie nikogo nie zmuszamy do zapisania sie, ale Twoje dane moga nam ulatwic ustawki na mecze. Po prostu wejdz w zakladke <%= link_to "Gracze", players_path %>, kliknij 'Nowy", a nastepnie uzupelnij podstawowe dane.</br>
Adres mozesz podac w dowolnym formacie: </br>
- Miasto, ulica => Wrocław, Czekoladowa </br>
- Miasto, ulica, numer => Wrocław, Czekoladowa 11 </br>
- Miasto, kod pocztowy => Wrocław, 51-114 </br>
- Charakterystyczne miejsce => Wrocław, Galeria Dominikanska </br>
- Dlugisc i szerokosc geograficzna </br>
Jezeli ich nie podasz, zostana obliczone automatycznie.
</p>
<h3>2. Dodaj boiska do bazy</h3>
<p>Znasz jakies fajne boisko? Wejdz w <%= link_to "Boiska", fields_path %> i uzupelnij o nim informacje. Adres podajesz analogicznie, jak w przypadku adresu zawodnika. </br>
</p>
<h3>3. Sprawdz, gdzie grac</h3>
<p>Wejdz w <%= link_to "Wydarzenia", events_path %> i utworz nowe. </br>
  Znow uzupelnij podstawowe informacje, zaznacz zawodnikow, ktorzy chca grac i kliknij utworz. Teraz mozesz podejrzec, ktore boisko znajduje sie w najdogodniejszej dla wszystkich lokalizacji (odleglosc od wszystkich zapisanych na wydarzenie jest najmniejsza. </br>
</p>

<h3>4. Info</h3>
<p>
  Jezeli nie jestes z Wroclawia, podaj adres, z ktorego bedziesz najczesciej dojezdzal!
</p>