<h1>Listing eplayers</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @eplayers.each do |eplayer| %>
      <tr>
        <td><%= link_to 'Show', eplayer %></td>
        <td><%= link_to 'Edit', edit_eplayer_path(eplayer) %></td>
        <td><%= link_to 'Destroy', eplayer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Eplayer', new_eplayer_path %>
